@media (max-width: 320px){
	.navbar-brand img{
		max-width: 238px;
	}
}
@media (max-width:410px){
	#facebookplugin{
		max-width:238px;
	}
}
#icon-patinador{
	color: #fff;
}

#ropa1:hover{
	
	background-image: url(imagenes/icon/Ropa_deportiva_icon.png), -webkit-gradient(linear, left top, left bottom, from(#6cab26), to(#6ceb86)); /* Saf4+, Chrome */
	background-image: url(imagenes/icon/Ropa_deportiva_icon.png), -webkit-linear-gradient(top, #6cab26, #6ceb86); /* Chrome 10+, Saf5.1+ */
	background-image: url(imagenes/icon/Ropa_deportiva_icon.png),    -moz-linear-gradient(top, #6cab26, #6ceb86); /* FF3.6+ */
	background-image: url(imagenes/icon/Ropa_deportiva_icon.png),     -ms-linear-gradient(top, #6cab26, #6ceb86); /* IE10 */
	background-image: url(imagenes/icon/Ropa_deportiva_icon.png),      -o-linear-gradient(top, #6cab26, #6ceb86); /* Opera 11.10+ */
	background-image: url(imagenes/icon/Ropa_deportiva_icon.png),         linear-gradient(to bottom, #6cab26, #6ceb86); /* W3C */
	background-repeat:no-repeat; 
	background-position: center;
	-webkit-transition: all 5s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}
#ropa-text:hover{
	color: transparent;
}

#ropa2:hover{
	background-image:  url(imagenes/icon/Kodiak_icon.png);
	background-color: blue;
	background-repeat:no-repeat; 
	background-position: center;
	-webkit-transition: all 5s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#ropa-text2:hover{
	color: transparent;
}
#rd{
	color: transparent;
}
.activeropad{
	background-color: red;
	background-image: url(imagenes/icon/Ropa_deportiva_icon.png);
	background-repeat:no-repeat; 
	background-position: center;
}
.activeroprotec{
	background-color: blue;
	background-image: url(imagenes/icon/Kodiak_icon.png);
	background-repeat:no-repeat; 
	background-position: center;
}
.activeromorral{
	background-color: yellow;
	background-image: url(imagenes/icon/Morral_icon.png);
	background-repeat:no-repeat; 
	background-position: center;
}
.activeropatines{
	background-color: green;
	background-image: url(imagenes/icon/Patin_icon.png);
	background-repeat:no-repeat; 
	background-position: center;
}
.activeroacces{
	background-color: lightblue;
	background-image: url(imagenes/icon/Accesorios_icon.png);
	background-repeat:no-repeat; 
	background-position: center;
}
#ropa3:hover{
	background-image:  url(imagenes/icon/Morral_icon.png);
	background-color: yellow;
	background-repeat:no-repeat; 
	background-position: center;
	-webkit-transition: all 5s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#ropa-text3:hover{
	color: transparent;
}
#ropa4:hover{
	background-image:  url(imagenes/icon/Patin_icon.png);
	background-color: green;
	background-repeat:no-repeat; 
	background-position: center;
	-webkit-transition: all 5s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#ropa-text4:hover{
	color: transparent;
}
#ropa5:hover{
	background-image:  url(imagenes/icon/Accesorios_icon.png);
	background-color: lightblue;
	background-repeat:no-repeat; 
	background-position: center;
	-webkit-transition: all 5s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#ropa-text5:hover{
	color: transparent;
}
.navbar-logoweb{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
}

.p, #contactenos{
	background-color: black;
	color: white;
	text-align: center;
}
#facebookplugin{
	min-height: 250px
}
.separador{
	margin: 10px 0px;
}
h3{

	color: white;
	text-align: center;

}
.centrariconos{
	margin: 20px;
}

.ropasubmenu1{
	background-color: red;
	min-height: 250px;	
}
.ropasubmenu:hover{
	display: inline-block;
}
.display1{
	display: block;
}
.bcgpatinador{
	display: block;
}
.ropasubmenu2{
	background-color: blue;
	min-height: 250px;
	
}
.display2{
	display: block;
}
.bcgciclismo{
	padding: 20px 60px;
	vertical-align: center;
}	
.ropasubmenu3{
	background-color: yellow;
	min-height: 250px;
}
.bcgrollerd{
	padding: 17px 60px;
	vertical-align: center;
}
.ropasubmenu4{
	background-color: pink;
	min-height: 250px;
}
.bcggym{
	padding: 44px 50px;
	vertical-align: center;
}
.patinador{
	color: #fff;
	display: inline-block;
	font-size: 174px;
	text-align: center;

}
.bicicleta{
	color: #fff;
	display: inline-block;
	font-size: 174px;
	text-align: center;

}
.rollerderby{
	color: #fff;
	display: inline-block;
	font-size: 174px;
	text-align: center;

}
.gym{
	color: #fff;
	display: inline-block;
	font-size: 112px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 35px;
}
.kitproteccion{
	color: #fff;
	display: inline-block;
	font-size: 120px;
	text-align: center;
	margin-top: 25px;
}
.rodillerakodiak{
	color: #fff;
	display: inline-block;
	font-size: 120px;
	text-align: center;
	margin-top: 25px;
}
.coderakodiak{
	color: #fff;
	display: inline-block;
	font-size: 120px;
	text-align: center;
	margin-top: 25px;
}
.guantekodiak{
	color: #fff;
	display: inline-block;
	font-size: 120px;
	text-align: center;
	margin-top: 25px;

}
.morralinfantil{
	color: #fff;
	display: inline-block;
	font-size: 150px;
	text-align: center;
	margin-top: 15px;

}
.morralescuelas{
	color: #fff;
	display: inline-block;
	font-size: 150px;
	text-align: center;
	margin-top: 15px;
}
.morralavanzado{
	color: #fff;
	display: inline-block;
	font-size: 150px;
	text-align: center;
	margin-top: 15px;
}
.patinsemi{
	color: #fff;
	display: inline-block;
	font-size: 150px;
	text-align: center;
	margin-top: 15px;
}
.patinprofesional{
	color: #fff;
	display: inline-block;
	font-size: 150px;
	text-align: center;
	margin-top: 15px;
}
.rodamientos{
	color: #fff;
	display: inline-block;
	font-size: 150px;
	text-align: center;
	margin-top: 15px;
}
.slide{
	color: #fff;
	display: inline-block;
	font-size: 60px;
	text-align: center;
	margin-top: 0px;
}
.footercolor{
	background-color: black;
}
