@font-face {
    font-family: 'Deportivos_Nomadas';
    src:    url('fonts/Deportivos_Nomadas.eot?s43ped');
    src:    url('fonts/Deportivos_Nomadas.eot?s43ped#iefix') format('embedded-opentype'),
    url('fonts/Deportivos_Nomadas.ttf?s43ped') format('truetype'),
    url('fonts/Deportivos_Nomadas.woff?s43ped') format('woff'),
    url('fonts/Deportivos_Nomadas.svg?s43ped#Deportivos_Nomadas') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Deportivos_Nomadas' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-accesorios:before {
    content: "\e900";
}
.icon-bicicleta:before {
    content: "\e901";
}
.icon-codera_kodiac:before {
    content: "\e902";
}
.icon-cordon:before {
    content: "\e903";
}
.icon-guante_kodiak:before {
    content: "\e904";
}
.icon-gym:before {
    content: "\e905";
}
.icon-kit_proteccion:before {
    content: "\e906";
}
.icon-kodiak:before {
    content: "\e907";
}
.icon-licra:before {
    content: "\e908";
}
.icon-morral_avanzados:before {
    content: "\e909";
}
.icon-morral_colchoneta:before {
    content: "\e90a";
}
.icon-morral_escuelas:before {
    content: "\e90b";
}
.icon-morral_infantil:before {
    content: "\e90c";
}
.icon-otros:before {
    content: "\e90d";
}
.icon-patin_profesional:before {
    content: "\e90e";
}
.icon-patin_semi:before {
    content: "\e90f";
}
.icon-patinador:before {
    content: "\e910";
    
}
.icon-rodamiento:before {
    content: "\e911";
}
.icon-rodillera_kodiak:before {
    content: "\e912";
}
.icon-roller_derby:before {
    content: "\e913";
}
.icon-tabla_slide:before {
    content: "\e914";
}

